<div class="container-fluid bg-light sticky-top p-0">
    <nav class="navbar navbar-expand-lg navbar-light p-0">
        <a href="#/" class="navbar-brand   py-3 px-5 me-0">
            <img class="  w-40 h-40" src="./assets/img/logo.png" alt="" style="object-fit: cover; width: 180px;">
        </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse p-3" id="navbarCollapse">
            <div class="navbar-nav mx-auto">
                <a href="#/" class="nav-item nav-link active">Home</a>
                <a href="#/sobre" class="nav-item nav-link">Sobre</a>
                <a href="#/galeria" class="nav-item nav-link">Galerias</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Serviços</a>
                    <div class="dropdown-menu bg-light mt-2">
                        <a href="gallery.html" class="dropdown-item">Cabelo</a>
                        <a href="blog.html" class="dropdown-item">Unhas</a>
                        <a href="team.html" class="dropdown-item">Estética & Face</a>
                        <a href="testimonial.html" class="dropdown-item">Massagens & Wellness </a>

                        <a href="blog.html" class="dropdown-item">Maquilhagem</a>
                        <a href="team.html" class="dropdown-item">Estética (Rosto e Corpo)</a>
                        <a href="testimonial.html" class="dropdown-item">Emagrecimento & Body Contour</a>
                        <a href="404.html" class="dropdown-item">Barber Lounge</a>
                        <a href="404.html" class="dropdown-item">HIGH TICKET EXCLUSIVOS</a>
                    </div>

                </div>
                <a href="#/contato" class="nav-item nav-link">Contacto</a>
            </div>
            <div class="d-flex">
                <a class="btn btn-primary btn-sm-square me-3" href=""><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-primary btn-sm-square me-3" href="https://www.instagram.com/maisonmaryavantguarde"><i
                        class="fab fa-instagram"></i></a>
                <a class="btn btn-primary btn-sm-square me-3" href="https://www.tiktok.com/@maison.mary.avant?_r=1&_t=ZS-96RlaNpLg9M"><img
                        src="./assets/img/tiktok-brands-solid-full.svg" alt="Logo"></a>
                <a class="btn btn-primary btn-sm-square"
                    href="https://www.linkedin.com/in/maison-mary-avantguarde-421803361/"><i
                        class="fab fa-linkedin-in"></i></a>
            </div>
        </div>
    </nav>
</div>